<div class="heading text-center">
    <span>How to use</span>
</div>

<div class="how_to_use_sentence">
<!--  pタグで書くとスタイルが適用されるからね、本文書くときに変えても良いけど！！-->
  <p></p>
</div>

<%= render "layouts/exhibit_fix_button" %>