<div class="heading text-center">
  <span>Privacy policy</span>
</div>

<div class="privacy-sentence">
  <div class="privacy-heading"><span>個人情報の利用目的</span></div>
  <P>アカウントの新規登録やお問い合わせによって、お客さまからお預かりした個人情報は、当サービスからのご連絡や業務のご案内やご質問に対する回答として、電子メールなどのご送付に利用いたします。</P>
  <p>個人情報をご提供頂くのは当サービスをご利用頂く為であり、その目的から外れた個人情報の使用は致しません。</p>

  <div class="privacy-heading"><span>個人情報の第三者への開示・提供の禁止</span></div>
  <p>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
  <p>・お客さまの同意がある場合</p>
  <p>・お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</p>
  <p>・ 法令に基づき開示することが必要である場合</p>

 <div class="privacy-heading"><span>ご本人の照会</span></div>
  <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>

  <div class="privacy-heading"><span>免責事項</span></div>
  <p>当ウェブサイトの内容・情報および免責事項は、予告なしに変更改定する場合があります。</p>
  <p>弊社は、掲載する情報について、十分注意・確認をした上で提供することに努めておりますが、コンテンツの正確性、有用性について、いかなる保証もするものではありません。</p>
  <p>本を譲渡する、譲り受ける相手方との間の関係、やり取りにおいて生じたいかなる損害についても保証は致しません。</p>

</div>

