<div class="top-background-color">
    <span>本はもっと循環していい</span>
</div>

<div class="top-description text-center">
  <p>本をシェアするサービスです。</p>
  <p>あなたの家に眠っている本を誰かにgiveしてみませんか?</p>
</div>



<div class="give_example">
  <h2 class="text-danger">実際にgiveされている本をタイル表示して検索窓を置く部分が入ります（仮で600px取ってある）</h2>
</div>


<% if !user_signed_in? %>

  <div class="sign_up-recommend text-center">
    <p>Giveするには、まずは新規登録から</p>
    <div class="top-submit-button"><p><%= link_to "Sign up",
                                                  new_user_registration_path, :style => "color: white;" %></p></div>


    <div class="log_in-recommend text-center">
      <p>すでにアカウントをお持ちですか？</p>
      <div class="top-submit-button"><p><%= link_to "Log in", new_user_session_path,
                                                :style => "color: white"%></p></div>
    </div>
  </div>

<% end %>







<%= render "layouts/exhibit_fix_button" %>