<div class="top-image-container">
  <%= image_tag "top-background-image.png", id: "top-image", width: "980px" %>
</div>

<div class="description text-center">
  <p>本をシェアするサービスです。</p>
  <p>あなたの家に眠っている本を誰かにgiveしてみませんか?</p>
</div>