<div class="heading text-center">
  <span>Confirmation</span>
</div>

<div class="give-confirmation">

  <div class="give-confirmation-description text-center">
    <span>こちらの本を登録します。<br>
オファーが届いたらGiveする人を決め、発送してください。</span>
  </div>

  <div class="give-confirmation-image">
    <%= image_tag "zikken.png" %>
  </div>

  <div class="submit-button-container">
    <div class="submit-button">
      <p>オファーを受け付ける</p>
    </div>
  </div>

  <%= render "layouts/how_guide" %>

</div>
