
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//ヘッダー部分
.navbar-toggler{
  border-color: #2BF023;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath
  stroke='rgba(43, 240, 35)' stroke-width='3' stroke-linecap='round'
   stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  size: 200px;
}
.nav-link{
  font-size: 2.5rem;
  color: #2BF023;
}

//ヘッダー部分のレスポンシブ対応
@media (min-width: 768px) {
  .navbar-nav .nav-link{
    color: #2BF023;
  }
}

//footer部分
.footer-set{
  position: relative;
  border-top: solid #2BF023;
  border-width: 1px;
  height: 200px;
}
.copy-right{
  position: absolute;
  margin-top: 2%;
  left: 1rem;
}
.footer-icon{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
ul{
  list-style: none;
}
.insta{
  position: absolute;
  margin-top: 5px;
  right: 25%;
}
.twitter{
  position: absolute;
  margin-top: 5px;
  right: 15%;
}
.facebook{
  position: absolute;
  margin-top: 5px;
  right: 5%;
}

.contact{
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  right: 35%;
}
.privacy{
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  right: 5%;
}

//出品ボタン
.fix{
  position: fixed;
  right: 10%;
  bottom: 10%;
  left: 70%;
}


//Topページ
.top-image-container{
  position: relative;
  width: 100%;
  padding: 0;
}
.top-image-container span{
  font-weight: normal;
  font-size: 5rem;
  position: absolute;
  left: 5%;
  right: 0;
  top: 50%;
  bottom : 50%;
  margin:  auto;
}

.description{
  color: #16360E;
  font-size: 1.5rem;
  padding-top: 10%;
  height: 400px;
}
.give_example{
  height: 600px;
}
.signup{
  height: 600px;
}


//各ページの見出しのスタイルを決めておく（heading）
.heading{
  //中央にするのはtext-centerでやってくれ
  color: #ADA5A5;
  font-size: 5em;
}



//Contactページ
.heading{
  padding-bottom: 60px;
}
.contact-description{
  padding-bottom: 100px;
}
.contact_form{
  height: 1200px;
}


//privacy_policyページ
.privacy-heading{
  text-align: center;
  color: red;
  font-size: 3rem;
  padding: 50px 0 30px 0;
}
.privacy-sentence{
  height: 2000px;
  padding: 0 10% 0 10%;
  p{
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: justify;
  }
}


//使い方ページ
.how_to_use_sentence{
  height: 1500px;
  padding: 0 10% 0 10%;
  p{
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: justify;
  }
}


//Sign upページ
.signup-form{
  height: 1500px;
  padding: 0 10% 0 10%;
}