<h2>BookGive</h2>
<h3> <%= @resource.email %>さん、こんにちは！</h3>

<p>下記をクリックしてパスワードを再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>恐れ入りますが、このメールに心当たりのない方はこのままメールを無視してください。</p>
<p>詳しい流れや方法に関しては<%= link_to "使い方", how_to_use_url %>を参照してください</p>
<p>なお、このメールは送信専用のためご返信いただきましても対応致しかねますことをご了承ください。</p>
<p>お問い合わせは<%= link_to "こちらのフォーム",contact_url %>からお願い致します。</p>
<small>Copyright (c) tatsupon All Rights Reserved.</small>





