<!-- <div class="fix">-->
   <%#= link_to "#exhibit_path" do %>
     <%#= image_tag "exhibit_fix_logo.png" %>
   <%# end %>
<!-- </div>-->


 <div class="exhibit-fix-button">
   <p><%= link_to  "出品する", book_new_give_path, :style => "color: black;" %></p>
 </div>