<footer class="footer-set">
  <div class="copy-right">
    <small>Copyright (c) tatsupon All Rights Reserved.</small>
  </div>

  <div class="footer-icon">
    <%= link_to root_path do %>
      <%= image_tag "book_give_logo.png", width: "70px", height: "70px" %>
    <% end %>
  </div>

  <div class="footer-sns-icon">
    <ul>
     <a href="https://twitter.com/tatu_tech" target="_blank"><i class="fab fa-twitter fa-3x footer-twitter"></i></a>
    </ul>
  </div>

  <div>
    <ul>
      <li class="contact"><%= link_to "お問い合わせ", contact_path, class: "text text-dark" %></li>
      <li class="privacy"><%= link_to "プライバシーポリシー", privacy_path, class: "text text-dark" %></li>
    </ul>
  </div>
</footer>