<div class="sns-icon">
  <ul>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://book-give.herokuapp.com"
       target="_blank"><i class="fab fa-facebook-f fa-4x sns-icon-3"></i></a>
    <a href="http://line.me/R/msg/text/?https://book-give.herokuapp.com"
       target="_blank"><i class="fab fa-line fa-4x sns-icon-3"></i></a>
    <a href="https://twitter.com/share?url=https://book-give.herokuapp.com/&text=本をもっと自由に"
       target="_blank"><i class="fab fa-twitter fa-4x sns-icon-3"></i></a>
  </ul>
</div>






